.productContainer{
    color: white;
    display: flex;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15), rgba(47, 54, 64, 0.27));
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 5px;
}
.imgContainer {
     flex: wrap;
    display: flex;
    align-items: center;
}
.textQuantity {
     flex: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 10px;
}
.card{
    width: 100%;
    height: auto;
    align-items: center;
    backdrop-filter: blur(7px);
}
.textContent{
    flex: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align-last: right;
    padding: 0px 15px;
    text-shadow: rgb(74, 74, 74);
}
.textQuantity,
.textAmount {
    align-self: flex-end;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 10px;
}
.productImage {
    height: 100px;
    display:flex;
    justify-content: center;
    align-content:center;
}
.cardContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.descriptionContainer {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.productInfoName {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 300;
}
.buttonContainer{
    display: flex;
    margin-right:10px;
    justify-self: flex-start;
    align-items: center;
}
.deleteButton {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 0px; 
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    width: 25px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-self: center;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: rgba(47, 54, 64, 0.57);
    text-align: center;
    transition: all 0.15s;
}
.deleteButton:hover {
    text-shadow: rgb(74, 74, 74);
    color:white;
    background-color: rgba(255, 255, 255, 0.1);
    flex: wrap;
}
@media all and (max-width:30em) {
    .deleteButton {
        display: block;
        margin: 0.4em auto;
    }
}
@media all and (max-width:30em) {
    .deleteButton {
        display: block;
        margin: 0.4em auto;
    }
}


