
.userAccountContainer{
    display: flex;
}

.buttonMenuUser {
    display: flex;
    font-size: 13px;
    width: 100%;
    align-items: center;
    justify-self: flex-start;
    padding: 0.46em 1.6em;
    border: 0.1em solid #ffffff;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: rgba(47, 54, 64, 0.57);
    text-align: center;
    transition: all 0.15s;
    text-transform: uppercase;
}
.buttonMenuUser:hover {
    text-shadow: rgb(74, 74, 74);
    color:white;
    border-color: rgb(74, 74, 74);
    background-color: rgba(0, 0, 0, 0.815);
    backdrop-filter: blur(7px);
}
@media all and (max-width:30em) {
    .buttonMenuUser {
        display: block;
        margin: 0.4em auto;
    }
}


 .conteiner-tittle{
/*      background-color: teal;   */ 
  margin-left: 70px; 
  display: flex;
  margin-top: 20px;
} 

.textoa{
    font-family: 'Roboto', 'sans-serif';
    color:  #ffffff;
    font-size: 40px;
}

.textob{
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
    color:  gray;
}


.img-user{
    width: 170px;
    height: 170px;
    margin-left: 700px;
}

.cajauser{
    padding-bottom: 50px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;    
    align-items: center;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 535px;
    width: 500px;
    background-color: rgba(222, 245, 209, 0.25);
    backdrop-filter: blur(7px);
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* .editButton{
    cursor: pointer;
    box-shadow: -1px 3px 3px 0 rgba(58, 119, 134, 0.2);
    border: none;
    border-radius: 2px;
    transition: all 0.3s ease;
    font-size: 10px;
} */

