
 .conteiner-tittle{
/*      background-color: teal;   */ 
  margin-left: 70px; 
  display: flex;
  margin-top: 20px;
} 

.textoa{
    font-family: 'Roboto', 'sans-serif';
    color:  #ffffff;
    font-size: 40px;
}

.textob{
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
    color:  gray;
}


.img-user{
    width: 170px;
    height: 170px;
    margin-left: 700px;
}

.cajauser{
    padding-bottom: 50px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;    
    align-items: center;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 535px;
    width: 500px;
    background-color: rgba(222, 245, 209, 0.25);
    backdrop-filter: blur(7px);
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* .editButton{
    cursor: pointer;
    box-shadow: -1px 3px 3px 0 rgba(58, 119, 134, 0.2);
    border: none;
    border-radius: 2px;
    transition: all 0.3s ease;
    font-size: 10px;
} */














