.orderContainer{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}
.footerContent{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.footerOrder{
    margin: 20px;
    /* display: flex; */
    /* justify-content: flex-end; */
}
.textPrice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 35px;
}
#buttonEndOrden{
    height: 100px;
    width: 200px;
}