
@import url('https://fonts.googleapis.com/css?family=Mukta:700');

.componentsContainer {
    margin-top: 100px;
}


tr,
.categories {
  display: flex;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.addProd:after {
  color:#DFA06E;
  border: 0px;

}
.addProd{
  font-size: 50px;
  font-family: 'Mukta', sans-serif;
  height: 50px;
  width: 50px;
  color: #DFA06E;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f3640;
  box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
  border: 0px;

}

.addProd:hover:before {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  border: 0px;

}
.addProd::after {
  border: 0px;
  color: #DFA06E;
  border: 0px;
	opacity: 0;
	-webkit-transform: scale3d(0.8, 0.8, 1);
	transform: scale3d(0.8, 0.8, 1);
}

/* .addButton:after {
  border: 0px;
  transition: none;
} */
/* .addButton:hover{
  animation: 'shake' 100ms linear;
  animation-iteration-count: 5;
} */
.addProd > span {
  padding-left: 0.35em;
  border: 0px;
}
.addProd::before,
.addProd::after {
  content: '';
  color: #DFA06E;
	z-index: -1;
	border-radius: inherit;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  border: 0px;

}
.addProd::before {
	opacity: 0;
	-webkit-transform: scale3d(1.2, 1.2, 1);
	transform: scale3d(1.2, 1.2, 1);
}