.AdminOrdersTableComponentsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}
.buttonRestar{
    display: none;
}
.orderContainer{
    padding: 0px 0px;
}
.divContainerOrders{
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(74, 74, 74, 0.25);
    backdrop-filter: blur(7px);
}