@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.table {
    background-color: #fff;
    border-radius: 15px;
    border: 0px;
    font-size: 13px
}
.table tr {
    border: 0.15px solid rgba(0, 0, 0, 0.15);
    font-weight: 300;
}
.table td {
    border: 0px ;
}
.table thead th,
.table th {
    border: 0px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: -webkit-fill-available;
    font-weight: 400;
    height: 40px;
    line-height: 0;
}

.NameAndDesc,
.categories {
    border-top: 1px solid black;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    width: -webkit-fill-available;
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.categoryInfo{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
/* ////////////////////////////////////////////////////////////////////BOTONES */
.buttonContainer {
    display: flex;
    justify-content: flex-end;
}
.buttonEditCat{
    
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-self: flex-start;
    padding: 10px 15px;
    border: 0.1em solid #ffffff;
    margin: 0 0.2em 0 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    color: #ffffff;
    background-color: rgba(47, 54, 64, 0.57);
    text-align: center;
    transition: all 0.15s;
}
.buttonEditCat:hover {
    text-shadow: rgb(74, 74, 74);
    color:white;
    border-color: rgb(74, 74, 74);
    background-color: rgba(0, 0, 0, 0.815);
    backdrop-filter: blur(7px);
}
@media all and (max-width:30em) {
    .buttonEditCat {
        display: block;
        margin: 0.4em auto;
    }
}

