.products {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    width: auto;
}
/* 
.btn.btn-secondary {
    border-style:'none';
    width: '300px'
} */


.categories { 
    flex-wrap: wrap;
    display: flex;
    border-style:'none';
    width: 100%
}