@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.categoryButton{
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    background-color: transparent;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
.categoryButton::before,
.categoryButton::after {
    opacity: 50%;
    background: #F5F3BB;
    content: '';
    position: absolute;
    border: 2px ;
    border-radius: 20px;
    z-index: -1;
}

.categoryButton:hover {
    background-color: #2f3640;
    border: 0.5px solid #ffffff;
}
