@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap%27');
.textNotFound {
    display: flex;
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    color: aliceblue;
}

.contenedorNotFound {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cajadino{
    justify-content: center;
   
}
.dino{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-top: 50px;
}

.textGoHome{
    display: flex;
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    color: aliceblue;

}
