.loginContainer{
    border: black 1px solid;
    width: 500px;
    height: 500px;
    background-color: #f7f7f7;
    border-radius: 15px;
}


#loginHeaderContainer{
    display: flex;
    justify-content: flex-start;
}
.addProductTitle{
    float: left;
    font-size: 20px;
}


#loginBodyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.FormLoginContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.standardInput {
    margin-top: 5px;
    border-radius: 7px;
    text-align: center;
}

#loginFooterContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}
.createAccount{

}