.resetContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 500px;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.resetInput {
    margin-top: 5px;
    border-radius: 11px;
    width: 25%;
    padding: 5px 65px;
    text-align: center;
    border: 0px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: black;
}