@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
.navContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: transparent;
    color: rgb(36, 34, 34);
}

/* ------------------- Logo Space ------------------- */

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
.imageLogo{
    height: 50px;
    margin-left: 75px;
}

/* ------------------- Links Space ------------------- */

.routerContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.buttonsContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    margin-right: 50px;
}
.buttonHome,
.buttonProducts{
    padding:0;
    margin: 30px;
    font-family:'Poppins', sans-serif;
    font-weight:300;
    color: #ffffff;
}
.nomematen {
    display: none;
}

.cartContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 150px;

}
.buttonCart{
    align-content: center;
    height: 25px;
    width: 25px;
}
.quantityProducts{
    font-family:'Poppins', sans-serif;
    font-weight:300;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 50px;
    margin-left: 30px;
    color: white;
    font-weight: bolder;
}
.searchBar{
    margin-right: 50px;
}
.userLogged{
    display: flex;
}

/* ------------------- Register Space ------------------- */

.SessionContainer {
    display: flex;
    flex-direction: row;
}

.registerContainer{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    font-family:'Poppins', sans-serif;
    font-weight:300;
    font-size: 12px;
}
.signup,
.login{
    cursor: pointer;
    color: white;;
}
.signup{
    margin-bottom: 5px;
}
.login:hover,
.signup:hover {
    /* text-decoration: underline; */
    color: grey;
}
img {
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px ;
}