.modal-header {
    display: none;
}
.modal-footer {
    border: 0px;
}
label {
    font-size: 20px;
    font-weight: 800;
}
.inputContainer {
    align-items: center;
    height: 100%;
    justify-content: center;
}
.inputImage {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border: 4px dashed grey;
}
.propertyContainer {
    justify-content: space-around;
    align-items: 'center',
}
.priceContainer,
.stockContainer,
.categoriesContainer {
    flex-direction: column;
    width: 100px;
    height: 50px;
}
.addProdContainer {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 500px;
    height: 500px;
    background-color: rgba(222, 245, 209, 0.25);
    backdrop-filter: blur(7px);
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border: 0px;
}
.buttonAdd,
.buttonExit {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #ffffff;
    margin: 10px 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: rgba(47, 54, 64, 0.57);
    text-align: center;
    transition: all 0.15s;
}
.buttonAdd:hover,
.buttonExit:hover {
    text-shadow: 0 0 0.5px #DFA06E;
    color: #DFA06E;
    border-color: #DFA06E;
}
@media all and (max-width:30em) {
    .buttonAdd,
    .buttonExit {
        display: block;
        margin: 0.4em auto;
    }
}
.productDetailMenuCrud {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0px;
}
.productDetailName {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* align-items: center; */
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0px;
    margin-right: 10px;
}
.inputMenuCrud {
    padding: 5px 65px;
    text-align: center;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.85);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: black;
}
.form-control,
.dropdownCat {
    text-align: center;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.85);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: black;
    margin: 0;
    border-radius: 0;
}
.productName {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* align-items: center; */
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
}
.uploadImage {
    height: 150px;
    display: flex;
    justify-content: center;
}
.tox-statusbar__branding{
    display:none
}